* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "rancho";
  padding: 64px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div:not(.gameboard) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  height: 400px;
  width: 400px;
  margin-bottom: 32px;
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  height: 1fr;
  width: 1fr;
  border: 1px solid;
  font-family: "rancho";
}

.cell:hover {
  background-color: aquamarine;
}

.winner {
  font-family: "roboto";
  font-weight: 700;
  background-color: aquamarine;
  color: maroon;
}

.text-name {
  margin: 4px;
  font-family: "roboto";
}

.text-side {
  margin: 4px;
  margin-bottom: 12px;
  font-family: "roboto";
}

.start-game {
  margin: 4px;
  margin-top: 6.5px;
  margin-left: 2px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start-game:hover {
  background-color: #000;
  color: #fff;
}

/* Modal and Overlay */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.flex {
  height: 3px;
  margin-top: 18px;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 0px;
  font-family: "roboto";
}

.flex {
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "roboto";
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  text-align: center;
  color: #777;
  margin: 0.4rem 0 0.2rem;
  font-family: "roboto";
  font-weight: 400;
}

input[type="text"] {
  margin-top: 15px;
}

input[type="radio"]:nth-child(1) + label {
  margin-right: 20px;
  margin-top: 15px;
}

input[type="radio"]:nth-child(1) {
  margin-top: 15px;
}

.modal h3 {
  font-family: "roboto";
  font-weight: 700;
  font-size: 24px;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.btn-close:hover {
  background-color: #000;
  color: #fff;
}

.btn-submit {
  margin: 4px;
  margin-top: 6.5px;
  margin-left: 2px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 100px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-submit:hover {
  background-color: #000;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none !important;
}
